/* custom-scrollbar.css */
.custom-scrollbar::-webkit-scrollbar {
    width: 12px; /* 스크롤바의 너비 */
  }
  
  .custom-scrollbar::-webkit-scrollbar-track {
    background: #f1f1f1; /* 스크롤바 트랙 배경색 */
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #888; /* 스크롤바 손잡이 색상 */
    border-radius: 10px; /* 스크롤바 손잡이 모서리 둥글게 */
    border: 3px solid #f1f1f1; /* 스크롤바 손잡이 외곽선 */
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #555; /* 스크롤바 손잡이 호버 색상 */
  }
  