
.carousel-container {
  position: relative;
  width: 80%;
  height: 1000px; 
  /* overflow: hidden; */
  padding: 0 16px; 
}


.carousel-inner {
  display: flex;
  transition: transform 0.5s ease-in-out;
}


.carousel-slide {
  min-width: 33.33%; 
  height: 800px; 
  background-color: #f5f5f5; 
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px; 
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); 
  padding: 16px; 
}


.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  background-color: #2b7eff; 
  color: #fff;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 4px; 
  font-size: 16px; 
}

.carousel-button:hover {
  background-color: #2b7eff;
}


.carousel-button-prev {
  left: 0;
}

.carousel-button-next {
  right: 0;
}
