.container-lan {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
  height: 43vh; 
  text-align: center;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
  border-radius: 8px; 
  padding-bottom: 30px;
  /* padding: 20px; */
  color: black;
  text-align: center;
}

.heading-lan {
  color: black;
  margin-bottom: 10px;
}

.subheading {
  color: #555; 
}

